extends ../../layouts/default.pug
include ../../mixins/box_head.pug

block main
    //- .container.my-3
    //-     .row
    //-         .col-12
    //-             +box-head("Danh sách sản phẩm")

    //-     .row 
    //-         .col-4.mb-3 
    //-             .product-item
    //-                 .inner-image
    //-                     img(src="/images/mu.jpg", alt="Em Linh")
    //-                 .inner-content
    //-                     h3.inner-title Em Linh 
    //-                     .inner-price-new 80$
    //-                     .inner-price-old 78$
    //-                     .inner-discount -15%
    body
    .slides
      .slide.slide-1
        img(
          src="https://www.sollymsports.com/wp-content/uploads/2022/07/MUFC-SLIDER-HOME-2022-scaled.jpg",
          alt=""
        )
      .slide.slide-2
        img(
          src="https://assets.manutd.com/AssetPicker/images/0/0/20/88/1333398/Mixed_ArticleHeader1719820895326_large.jpg",
          alt=""
        )
      .slide.slide-3
        img(
          src="https://c8.alamy.com/comp/B52CFD/manchester-united-merchandise-B52CFD.jpg",
          alt=""
        )
      .slide.slide-4
        img(
          src="https://a.storyblok.com/f/274736/1920x750/6c2053a93a/home-hero-banner-desktop.jpg/m/1680x0/filters:quality(85)",
          alt=""
        )